.base-resize__line {
  position: absolute;
  top: 0;
  right: -2px;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  z-index: var(--area-line-resize-z-index);
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 1.5px;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
  }
}
